src/schema/SPL/Core/standaloneModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns="http://www.ibm.com/xmlns/prod/streams/spl/standalone"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.ibm.com/xmlns/prod/streams/spl/standalone"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<xs:element name="standaloneModel" type="standaloneModelType"/>

<xs:complexType name="standaloneModelType">
  <xs:sequence>
    <xs:element name="dummy" type="xs:boolean" minOccurs="0"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>
